<div class="container">
  <% if user_signed_in? %>
    <div class="search_form">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['User'], ['attempt']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
    
    <% if @range == 'User' %>
      <% @users.each do |user| %>
        <div>
          <%= user.name %>
        </div>
      <% end %>
      <% else %>
        <table class="table table-hover table-inveres">
          <thead class="table-active">
            <tr>
              <th>投稿内容</th>
              <th>タグ</th>
              <th colspan="6"></th>
            </tr>
          </thead>
          <% @attempts.each do |attempt| %>
          <tbody>
            <tr>
              <td>
                <%= link_to attempt.content,attempt_path(attempt.id) %>
              </td>
              <td>
                <% attempt.tags.each do |tag| %>
                  <%= link_to tag_path(keyword: tag.tag_type) do %>
                  <%= tag.tag_type %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if attempt.user == current_user %>
                <%= link_to "編集", edit_attempt_path(attempt.id), class: 'btn btn-sm btn-success' %>
                <% end %>
              </td>
              <td>
                <% if attempt.user == current_user %>
                <%= link_to "削除", attempt_path(attempt.id), method: :delete,  "data-confirm" => "本当に削除しますか？" ,class: 'btn btn-sm btn-danger' %>
                <% end %>
              </td>
              <td colspan="3"></td>
            </tr>
          </tbody>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>