<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">
      <h2>取り組みリストの編集</h2>
      <%= form_with model: @attempt, url: attempt_path(@attempt.id), method: :patch, local: true do |f| %>
      <div class="form-group">
        <label for="action content">取り組みリストの編集</label>
        <%= f.text_area :content, size: "10x10", class: 'form-control content', id: "action_content" %>
      </div>
      <div class="row">
        <!--ラジオボタンの中央寄せ-->
        <div class="col text-center">
          <div>
            <%= f.radio_button :part, "ganbaru", checked: true %>
            <%= f.label :part_ganbaru, "がんばる！" %>
            &emsp;<%= f.radio_button :part, "ganbatta" %>
            <%= f.label :part_ganbatta, "がんばった！" %>
          </div><br>
          <div>
            <% Tag.all.each do |tag| %>
              <div class="form-check form-check-inline flex flex-wrap">
                <%= f.check_box :tag_ids, { multiple: true }, tag.id, nil %>
                <%= f.label "tag_ids_#{tag.id}", tag.tag_type %>
              </div>
            <% end %>
          </div><br>
          <div>
            <%= f.radio_button :is_published_flag, 'true' %>
            <%= f.label :is_published_flag, "公開", value: true %>
            &emsp;<%= f.radio_button :is_published_flag,'false' %>
            <%= f.label :is_published_flag, "非公開", value: false %>
          </div>
        </div>
      </div>
      <p>※&emsp;犯罪に巻き込まれるような投稿はお控えください。</p>
        <h6 class="text-danger">※不適切な投稿は予告なく削除されます。<br>ご理解ください。</h6>
          <div class="row">
            <div class="col text-center"> <!--ボタンを中央に移動させる-->
                <%= f.submit "確認画面へ進む", class: 'btn btn-sm btn-primary ml-4' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>