<p id="notice"></p>
  <% if @attempt.errors.any? %>
  <h3>
    <%= @attempt.errors.count %>errors prohibited this obj from being saved:
  </h3>
  <ul>
    <% @attempt.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
<div class="container col-6">
  <h3>取り組みリスト詳細</h3>
  <table class="table">
    <tbody>
      <tr>
        <td><%= @attempt.created_at.strftime('%Y/%m/%d') %></td>
        <td>
            <%= @attempt.content %>
        </td>
        <td> 
          <% if @attempt.user == current_user %>
          <%= link_to "編集", edit_attempt_path, class: 'btn btn-sm btn-success' %>
          <% end %>
        </td>
        <td>
          <% if @attempt.user == current_user %>
          <%= link_to "削除", attempt_path, method: :delete,  "data-confirm" => "本当に削除しますか？" ,class: 'btn btn-sm btn-danger' %>
          <% end %>
      </tr>
    </tbody>
  </table>
  <div class="text-center" >
  <% unless current_user == @attempt.user %><!--投稿した人間にはいいねを表示しない-->
    <% if @attempt.favorited_by?(current_user) %><!--投稿へいいねの表示-->
      <p>
        <%= link_to attempt_favorites_path(@attempt), method: :delete do %>
          ♥<%= @attempt.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to attempt_favorites_path(@attempt), method: :post do %>
          ♡<%= @attempt.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>
  <% else %>
    <p>
      ♥<%= @attempt.favorites.count %> いいね
      <!--いいねの件数表示-->
    </p>
  <% end %>
  <div>
    <p>コメント件数：<%= @attempt.speeches.count %></p>
    <br>
    <% @attempt.speeches.each do |speech| %>
    <div>
      <div class="mr-3"><!--右に３あける-->
        <%= speech.user.name %>
        <small class="text-black-50"><%= speech.created_at.strftime('%Y/%m/%d') %></small>
        <!--小さく、薄い色で表示させる-->
        <%= simple_format(speech.speech) %>
        <!--textのものはこれで自動改行される-->
      </div>
    </div>
    <% end %>
  </div>
  <% unless current_user == @attempt.user %><!--投稿した人間には表示しない-->
    <div>
      <%= form_with model: @speech, url: speeches_path do |f| %>
        <%= f.hidden_field :attempt_id, value: @attempt.id %>
        <%= f.text_area :speech, rows: '5', placeholder: "コメントをここに" %>
        <p>※&emsp;犯罪に巻き込まれるような投稿はお控えください。</p>
        <h6 class="text-danger">※不適切な投稿は予告なく削除されます。<br>ご理解ください。</h6>
        <div class="form-group">
          <%= f.submit "投稿する", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>