<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>取り組みリストの編集</h2>
          <div class="col-8">
          <%= form_with model: @action, url: action_path(@action.id) do |f| %>
            <div class="form-group">
                <label for="action content">取り組みリストの編集</label>
                <%= f.text_area :content, class: 'form-control content', id: "action_content" %>
            </div>
            <div class="row">
              <!--ラジオボタンの中央寄せ-->
              <div class="col text-center">
                <%= form_with model: @action, url: action_path, method: :post, local: true do |f| %> <!--actionの編集-->
                  <div>
                    <%= f.radio_button :action, "ganbaru", checked: true %>
                    <%= f.label :action_ganbaru, "がんばる！" %>
                    &emsp;<%= f.radio_button :action, "ganbatta" %>
                    <%= f.label :action_ganbatta, "がんばった！" %>
                  </div><br>
                <% end %>
              </div>
            </div>
            <p>※&emsp;犯罪に巻き込まれるような投稿はお控えください。</p>
            <div class="row">
              <div class="col text-center"> <!--ボタンを中央に移動させる-->
                  <%= f.submit "確認画面へ進む", class: 'btn btn-sm btn-primary ml-4' %>
              </div>
            </div>
          <% end %>
          </div>
    </div>
  </div>
</div>