<div class="container col-12">
  <div class="row mt-1">
    <div class="col-md-8 offset-md-1">
      <div class="text_center">
      <h1>投稿者</h1>
        <table class="table">
          <thead>
            <tr>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th><%= @user. profile%></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="px-3 mx-auto">
        <table class="table table-hover table-inveres">
          <thead class="table-active">
            <tr>
              <th><%= link_to "がんばること一覧", user_ganbaru_path(@user.id) %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @ganbarus.each do |attempt| %>
          <tr>
            <td><%= attempt.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to attempt_path(attempt.id) do %>
              <%= attempt.content %>
              <% end %>
            </td>
            <td>
            <%= attempt.user.name %></td>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
        <table class="table table-hover table-inveres">
          <thead class="table-active">
            <tr>
              <th><%= link_to "がんばったこと一覧", user_ganbatta_path(@user.id) %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @ganbattas.each do |attempt| %>
            <tr>
              <td><%= attempt.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                <%= link_to attempt_path(attempt.id) do %>
                <%= attempt.content %>
                <% end %>
              </td>
              <td>
                <%= attempt.user.name %>
              </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>